<?xml version="1.0" encoding="UTF-8"?>

<settings>
  <functionsymbol>
    <id>PushRhythm</id>
    <input>rhythmPushed</input>
    <output>output</output>
    <class>sample.Controller</class>
    <method>rhythmPushed(javafx.event.ActionEvent)</method>
  </functionsymbol>
  <functionsymbol>
    <id>PushQuit</id>
    <input>quitPushed</input>
    <output>output</output>
    <class>sample.Controller</class>
    <method>songPushed(javafx.event.ActionEvent)</method>
  </functionsymbol>
  <functionsymbol>
    <id>PushSong</id>
    <input>songPushed</input>
    <output>output</output>
    <class>sample.Controller</class>
    <method>quitPushed(javafx.event.ActionEvent)</method>
  </functionsymbol>
  <outputfunction>
    <id>output</id>
    <class>sample.Controller</class>
    <method>getOutput()</method>
  </outputfunction>
  <start>
    <order>0</order>
    <automaton>MealyMachine</automaton>
    <class>sample.Main</class>
    <method>start(javafx.stage.Stage)</method>
  </start>
</settings>
